[Unit]
Description=Run snap-sync backup (UUID: %i)

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/snap-sync-wrapper %i
